.video-section > .container {
  max-width: 90%;
}

@media only screen and (max-width: 1800px) {
  /* ABOUT US */
  .about-section p.semi-bold {
    max-width: 30ch;
  }

  .about-section > .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1400px) {
  h1,
  h2 {
    font-size: 8vw;
  }
  /* ABOUT US */
  .about-section > .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
  }

  .about-section > .container p {
    font-size: 30px;
  }

  /* CONTACT US */
  .contact-section .title-wrapper > h2 {
    font-size: 120px;
  }

  /* SHOW WORK */
  #scroll1,
  #scroll1Clone,
  #scroll2,
  #scroll2Clone,
  #scroll3,
  #scroll3Clone,
  #scroll4,
  #scroll4Clone {
    font-size: 80px !important;
  }

  .thumb-4 {
    bottom: 200px;
    right: 30px !important;
  }
}

@media only screen and (max-width: 1200px) {
  /* ABOUT US */
  .about-section > .container {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 100px;
  }

  .about-section > .container p {
    font-size: 24px;
    padding-left: 80px;
  }

  /* CONTACT US */
  .contact-section .title-wrapper {
    padding-top: 50px;
    padding-bottom: 150px;
  }

  /* SHOW WORK */
  #scroll1,
  #scroll1Clone,
  #scroll2,
  #scroll2Clone,
  #scroll3,
  #scroll3Clone,
  #scroll4,
  #scroll4Clone {
    font-size: 50px !important;
  }

  .thumb-1 {
    top: 220px !important;
    left: 50px !important;
  }
  .thumb-3 {
    bottom: 150px !important;
    left: 100px !important;
  }
  .thumb-4 {
    bottom: 300px !important;
    right: 200px;
  }
}

@media only screen and (max-width: 992px) {
  /* ABOUT US */
  section.about-section {
    margin-top: 150px;
  }
  .about-section > .container {
    max-width: 846px;
  }

  .about-section > .container > h2 {
    padding-top: 0;
  }

  .about-section .container p {
    padding-left: 50px;
    font-size: 19px;
    letter-spacing: 4px;
  }

  /* CONTACT US */
  .contact-section .title-wrapper > h2 {
    font-size: 100px;
  }

  /* SHOW WORK  */
  .stay-tuned-wrapper {
    top: 40% !important;
  }

  .thumb-3 {
    left: 30px !important;
  }

  .thumb-4 {
    right: 50px !important;
  }
}

@media only screen and (max-width: 846px) {
  /* ABOUT US */
  .about-section > .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }

  .about-section .container p {
    font-size: 20px;
  }

  /* CONTACT US */
  .contact-section .title-wrapper > h2 {
    font-size: 90px;
  }

  /* show work */
  .show-work {
    font-size: 30px !important;
  }

  .thumb {
    width: 17vw !important;
  }
}

@media only screen and (max-width: 768px) {
  /* ABOUT US */
  .about-section > .container {
    max-width: 90%;
  }

  .about-section > .container p {
    font-size: 18px;
    padding-left: 40px;
    letter-spacing: 3px;
  }
  .about-section > .container p.semi-bold {
    padding-top: 75px;
  }

  .about-section > .container {
    padding: 0;
  }

  /* CONTACT US */
  .contact-section .title-wrapper {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .contact-section .title-wrapper > h2 {
    font-size: 80px;
    margin-left: 40px;
  }

  .contact-section .cards-wrapper {
    padding-bottom: 150px;
  }

  .contact-section .cards-wrapper > .card:first-of-type {
    padding-right: 25px;
  }

  .contact-section .cards-wrapper > .card:last-of-type {
    padding-left: 25px;
  }

  /* SHOW WORK */
  .thumb-1 {
    top: 50px !important;
    left: 20px !important;
  }
  .thumb-2 {
    top: 250px !important;
    right: 20px !important;
  }
  .thumb-3 {
    bottom: 50px !important;
    left: 20px !important;
  }
  .thumb-4 {
    right: 20px !important;
  }

  /* show work */
  .show-work span {
    height: 110px !important;
    width: 110px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 10px;
    margin-right: 10px;
  }

  .show-work {
    font-size: 20px !important;
    display: flex;
    align-items: center;
  }

  .stay-tuned-wrapper {
    top: 40% !important;
    left: 10% !important;
  }
}

@media only screen and (max-width: 600px) {
  /* HERO */
  h1 {
    margin: 0 25px;
    font-size: 6vw;
    line-height: 1.3;
    letter-spacing: 8px;
  }

  /*  ABOUT US */
  section.about-section {
    margin-top: 100px;
  }

  .about-section > .container p {
    padding-left: 0px;
    letter-spacing: 2px;
  }

  /* CONTACT US */
  .contact-section .title-wrapper > h2 {
    font-size: 50px;
    letter-spacing: 8px;
  }

  .contact-section .cards-wrapper {
    flex-direction: column;
  }

  .contact-section .cards-wrapper > .card:first-of-type {
    padding-right: 45px;
  }

  .contact-section .cards-wrapper > .card:last-of-type {
    padding-left: 45px;
  }
}

@media only screen and (max-width: 500px) {
  /* ABOUT US */
  .about-section > .container p {
    font-size: 16px;
    letter-spacing: 1px;
  }

  /* CONTACT US */
  .contact-section .title-wrapper {
    transform: translateX(-100px);
  }

  .contact-section .title-wrapper > h2 {
    font-size: 70px;
    letter-spacing: 4px;
  }

  /* SHOW WORK */
  #scroll1,
  #scroll1Clone,
  #scroll2,
  #scroll2Clone,
  #scroll3,
  #scroll3Clone,
  #scroll4,
  #scroll4Clone {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 400px) {
  /* ABOUT US */
  .about-section > .container p {
    font-size: 14px;
    letter-spacing: 0;
  }
}
